USE [master]
GO
/****** Object:  Database [FCS]    Script Date: 8/22/2022 3:47:44 PM ******/
Create DATABASE [FCS]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FCS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](32) NULL,
	[AccountStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](20) NULL,
	[Age] [smallint] NULL,
	[CountryID] [int] NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[Phone] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Gender] [bit] NULL,
	[LinkFacebook] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[BusNumber] [int] NOT NULL,
	[Cost] [money] NULL,
	[BusStop] [nvarchar](max) NULL,
	[Url1] [nvarchar](max) NULL,
	[Url2] [nvarchar](max) NULL,
	[ShortDescriptions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BusNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[ClubID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[ClubName] [nvarchar](200) NULL,
	[ClubPresident] [nvarchar](100) NULL,
	[Facebook] [text] NULL,
	[Email] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepId] [int] IDENTITY(1,1) NOT NULL,
	[DepName] [nvarchar](100) NULL,
	[DepNameAbbreviations] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [nvarchar](30) NULL,
	[OpenDay] [nvarchar](30) NULL,
	[Url1] [nvarchar](max) NULL,
	[Url2] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Position] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceID] [int] NULL,
	[DistrictName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventOfClub]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventOfClub](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[ClubID] [int] NULL,
	[EventName] [nvarchar](100) NULL,
	[Time] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Url1] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodImage]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodImage](
	[FoodID] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foods]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[FoodName] [nvarchar](100) NULL,
	[Cost] [money] NULL,
	[Descriptions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostelImage]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostelImage](
	[HostelID] [int] NOT NULL,
	[Url1] [nvarchar](max) NULL,
	[Url2] [nvarchar](max) NULL,
	[Url3] [nvarchar](max) NULL,
	[Url4] [nvarchar](max) NULL,
	[Url5] [nvarchar](max) NULL,
	[Url6] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HostelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hostels]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hostels](
	[HostelID] [int] IDENTITY(1,1) NOT NULL,
	[HostelName] [nvarchar](100) NULL,
	[SellerID] [int] NULL,
	[TotalRoom] [int] NULL,
	[Status] [bit] NULL,
	[Floors] [int] NULL,
	[CountryID] [int] NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[RentCost] [money] NULL,
	[Distance] [decimal](2, 1) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[StarVoting] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[HostelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[CountryID] [int] NULL,
	[ProvinceName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportHostel]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportHostel](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[HostelID] [int] NULL,
	[Spam] [bit] NULL,
	[Offensive] [bit] NULL,
	[Violent] [bit] NULL,
	[Truthless] [bit] NULL,
	[ReportTime] [datetime] NULL,
	[StudentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportRestaurant]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportRestaurant](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NULL,
	[Spam] [bit] NULL,
	[Offensive] [bit] NULL,
	[Violent] [bit] NULL,
	[Truthless] [bit] NULL,
	[ReportTime] [datetime] NULL,
	[StudentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantName] [nvarchar](100) NULL,
	[SellerID] [int] NULL,
	[CountryID] [int] NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[Cost] [varchar](30) NULL,
	[Distance] [float] NULL,
	[Descriptions] [nvarchar](max) NULL,
	[RestaurantImage] [nvarchar](max) NULL,
	[StarVoting] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[SellerID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](20) NULL,
	[Age] [smallint] NULL,
	[Phone] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[CountryID] [int] NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[Gender] [bit] NULL,
	[LinkFacebook] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StarVotingHostel]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StarVotingHostel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentNo] [int] NULL,
	[HostelID] [int] NULL,
	[StarVoting] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StarVotingRestaurant]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StarVotingRestaurant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentNo] [int] NULL,
	[RestaurantID] [int] NULL,
	[StarVoting] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentNo] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [varchar](10) NULL,
	[Avatar] [nvarchar](max) NULL,
	[FirstName] [nvarchar](60) NULL,
	[LastName] [nvarchar](20) NULL,
	[Age] [smallint] NULL,
	[Phone] [varchar](10) NULL,
	[Unit] [varchar](5) NULL,
	[Email] [varchar](50) NULL,
	[CountryID] [int] NULL,
	[ProvinceID] [int] NULL,
	[AddressDetail] [nvarchar](200) NULL,
	[DistrictID] [int] NULL,
	[Gender] [bit] NULL,
	[LinkFacebook] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfClub]    Script Date: 8/22/2022 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfClub](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [RoleID], [Username], [Password], [AccountStatus]) VALUES (16, 4, N'clbnhaccutruyenthongfu@gmail.com', N'12345', 1)
INSERT [dbo].[Account] ([AccountID], [RoleID], [Username], [Password], [AccountStatus]) VALUES (15, 4, N'fmuc.fptmuayclub@gmail.com', N'12345', 1)
INSERT [dbo].[Account] ([AccountID], [RoleID], [Username], [Password], [AccountStatus]) VALUES (20, 4, N'fncnunchakuclub@gmail.com', N'12345', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [Avatar], [FirstName], [LastName], [Age], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Phone], [Email], [Gender], [LinkFacebook]) VALUES (1, NULL, N'Mỹ', N'Hòa', 22, 1, NULL, NULL, N'', N'', N'nguyenmyhoa120920@gmail.com', 0, N'')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Clubs] ON 

INSERT [dbo].[Clubs] ([ClubID], [Avatar], [ClubName], [ClubPresident], [Facebook], [Email], [Description], [Type]) VALUES (1, N'avatarImages/jsclub.fptAvatar.jpg', N'JS Club - Japanese Software Engineers', N'Lê Thanh Bình', N'https://www.facebook.com/fu.jsclub', N'jsclub.fpt@gmail.com', N'', 1)
INSERT [dbo].[Clubs] ([ClubID], [Avatar], [ClubName], [ClubPresident], [Facebook], [Email], [Description], [Type]) VALUES (3, NULL, N'FPTU - Melody Club', N'Đào Nhật Nam', N'https://www.facebook.com/fptu.melody.club', N'fu.melody.club@gmail.com', N'', 4)
INSERT [dbo].[Clubs] ([ClubID], [Avatar], [ClubName], [ClubPresident], [Facebook], [Email], [Description], [Type]) VALUES (4, NULL, N'No Shy Club ', N'Đỗ Kiều Đức An', N'https://www.facebook.com/noshyclub', N'noshy.fpt@gmail.com', N'', 2)
SET IDENTITY_INSERT [dbo].[Clubs] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (1, N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([DistrictID], [ProvinceID], [DistrictName]) VALUES (1, 4, N'Ngô Quyền')
INSERT [dbo].[District] ([DistrictID], [ProvinceID], [DistrictName]) VALUES (2, 19, N'Xí Mần')
INSERT [dbo].[District] ([DistrictID], [ProvinceID], [DistrictName]) VALUES (3, 21, N'Quận Ba Đình')
GO
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[EventOfClub] ON 

SET IDENTITY_INSERT [dbo].[EventOfClub] OFF
GO
INSERT [dbo].[FoodImage] ([FoodID], [ImageUrl]) VALUES (1, NULL)
INSERT [dbo].[FoodImage] ([FoodID], [ImageUrl]) VALUES (2, N'foodImages/2_2.jpg')
INSERT [dbo].[FoodImage] ([FoodID], [ImageUrl]) VALUES (3, N'666.jpg')
GO
SET IDENTITY_INSERT [dbo].[Foods] ON 

INSERT [dbo].[Foods] ([FoodID], [RestaurantID], [FoodName], [Cost], [Descriptions]) VALUES (1, 2, N'Bún Chả', 30.0000, N'                                                                                        Bún chả Hà Thành thơm ngon
                                        
                                        ')
INSERT [dbo].[Foods] ([FoodID], [RestaurantID], [FoodName], [Cost], [Descriptions]) VALUES (2, 2, N'Nem Nướng', 35.0000, N'                                                                                        Nem nướng nóng hổi
                                        
                                        ')
INSERT [dbo].[Foods] ([FoodID], [RestaurantID], [FoodName], [Cost], [Descriptions]) VALUES (3, 3, N'Cơm Tấm Sườn Nướng', 35.0000, N'Cơm ngon như mẹ nấu')
SET IDENTITY_INSERT [dbo].[Foods] OFF
GO
INSERT [dbo].[HostelImage] ([HostelID], [Url1], [Url2], [Url3], [Url4], [Url5], [Url6]) VALUES (10, N'HostelImages/Thanh Bìnhurl1.jpg', N'HostelImages/Thanh Bìnhurl2.jpg', N'HostelImages/Thanh Bìnhurl3.jpg', N'HostelImages/Thanh Bìnhurl4.jpg', N'HostelImages/Thanh Bìnhurl5.jpg', N'HostelImages/Thanh Bìnhurl6.jpg')
GO
SET IDENTITY_INSERT [dbo].[Hostels] ON 

INSERT [dbo].[Hostels] ([HostelID], [HostelName], [SellerID], [TotalRoom], [Status], [Floors], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [RentCost], [Distance], [Descriptions], [StarVoting]) VALUES (1, N'Tuấn Cường 2', 2, 80, 1, 5, 1, 4, 1, N'Thạch Hòa-Thạch Thất', 2500000.0000, CAST(2.0 AS Decimal(2, 1)), N'', 0)
INSERT [dbo].[Hostels] ([HostelID], [HostelName], [SellerID], [TotalRoom], [Status], [Floors], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [RentCost], [Distance], [Descriptions], [StarVoting]) VALUES (2, N'Liên Nga', 2, 50, 1, 4, 1, 19, 2, N'Hà Giang', 2500000.0000, CAST(3.0 AS Decimal(2, 1)), N'', 0)
INSERT [dbo].[Hostels] ([HostelID], [HostelName], [SellerID], [TotalRoom], [Status], [Floors], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [RentCost], [Distance], [Descriptions], [StarVoting]) VALUES (3, N'Thành Nam 1', 4, 50, 1, 5, 1, 21, 28, N'Thôn 7 xã Thạch Hòa', 1800000.0000, CAST(1.5 AS Decimal(2, 1)), N'Hệ thống nhà trọ Thành Nam 1,2 Chào mừng các bạn sinh viên!!!
Hãy đến với chúng tôi để bạn đc phục vụ và được sống trong căn nhà thỏa mái nhất, hợp lý nhất.', 0)
SET IDENTITY_INSERT [dbo].[Hostels] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([ProvinceID], [CountryID], [ProvinceName]) VALUES (1, 1, N'An Giang')
INSERT [dbo].[Province] ([ProvinceID], [CountryID], [ProvinceName]) VALUES (2, 1, N'Bạc Liêu')
INSERT [dbo].[Province] ([ProvinceID], [CountryID], [ProvinceName]) VALUES (3, 1, N'Bắc Cạn')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportRestaurant] ON 

INSERT [dbo].[ReportRestaurant] ([ReportID], [RestaurantID], [Spam], [Offensive], [Violent], [Truthless], [ReportTime], [StudentID]) VALUES (1, 2, 1, 0, 0, 0, NULL, NULL)
INSERT [dbo].[ReportRestaurant] ([ReportID], [RestaurantID], [Spam], [Offensive], [Violent], [Truthless], [ReportTime], [StudentID]) VALUES (2, 13, 1, 1, 1, 1, NULL, NULL)
INSERT [dbo].[ReportRestaurant] ([ReportID], [RestaurantID], [Spam], [Offensive], [Violent], [Truthless], [ReportTime], [StudentID]) VALUES (3, 2, 0, 1, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ReportRestaurant] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

INSERT [dbo].[Restaurants] ([RestaurantID], [RestaurantName], [SellerID], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Cost], [Distance], [Descriptions], [RestaurantImage], [StarVoting]) VALUES (2, N'Xiên Bẩn Food And Drink', 2, 1, 4, 1, N'39-Nguyễn Văn Cừ', N'30.000-50.000', 4, N'', NULL, 1)
INSERT [dbo].[Restaurants] ([RestaurantID], [RestaurantName], [SellerID], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Cost], [Distance], [Descriptions], [RestaurantImage], [StarVoting]) VALUES (3, N'Nhà hàng 666', 2, 1, 19, 2, N'Xí Mần - Hà Giang', N'35.000-55.000', 3, N'', NULL, 0)
INSERT [dbo].[Restaurants] ([RestaurantID], [RestaurantName], [SellerID], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Cost], [Distance], [Descriptions], [RestaurantImage], [StarVoting]) VALUES (6, N'Nem Nướng Hùng Anh', 2, 1, 19, 2, N'Hà Giang', N'35.000-40.000', 2, N'', NULL, 0)
SET IDENTITY_INSERT [dbo].[Restaurants] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'student')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'seller')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sellers] ON 

INSERT [dbo].[Sellers] ([SellerID], [Avatar], [FirstName], [LastName], [Age], [Phone], [Email], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Gender], [LinkFacebook]) VALUES (2, N'avatarImages/minkook2909Avatar.jpg', N'Pham', N'Thu Hong', 34, N'098765432', N'minkook2909@gmail.com', 1, 49, 137, N'9-Đường 28-Tổ 22- Phường Trần Lãm', 0, N'https://www.facebook.com/hongpham2909/')
INSERT [dbo].[Sellers] ([SellerID], [Avatar], [FirstName], [LastName], [Age], [Phone], [Email], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Gender], [LinkFacebook]) VALUES (4, NULL, N'', N'Hùng', 42, N'0984618686', N'hung123@gmail.com', 1, 21, 28, N'Thôn 7 xã Thạch Hòa', 1, NULL)
INSERT [dbo].[Sellers] ([SellerID], [Avatar], [FirstName], [LastName], [Age], [Phone], [Email], [CountryID], [ProvinceID], [DistrictID], [AddressDetail], [Gender], [LinkFacebook]) VALUES (5, NULL, N'Liên ', N'Nga', 35, N'', N'liennga@gmail.com', 1, 21, 28, N'', 0, NULL)
SET IDENTITY_INSERT [dbo].[Sellers] OFF
GO
SET IDENTITY_INSERT [dbo].[StarVotingRestaurant] ON 

INSERT [dbo].[StarVotingRestaurant] ([ID], [StudentNo], [RestaurantID], [StarVoting], [Comment], [Date]) VALUES (1, 1, 2, 1, N' cầu ngu như con chó lợn', CAST(N'2022-08-16T00:16:24.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[StarVotingRestaurant] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentNo], [StudentID], [Avatar], [FirstName], [LastName], [Age], [Phone], [Unit], [Email], [CountryID], [ProvinceID], [AddressDetail], [DistrictID], [Gender], [LinkFacebook]) VALUES (1, N'HE141389', N'avatarImages/nguyenmyhoa120920Avatar.jpg', N'Phạm', N'Thị Thu Hồng', 22, N'0968204670', N'K14', N'hoantmhe141105@fpt.edu.vn', 1, 49, N'39-Nguyễn Văn Cừ', 137, 0, N'https://www.facebook.com/hongpham2909/')
INSERT [dbo].[Students] ([StudentNo], [StudentID], [Avatar], [FirstName], [LastName], [Age], [Phone], [Unit], [Email], [CountryID], [ProvinceID], [AddressDetail], [DistrictID], [Gender], [LinkFacebook]) VALUES (2, N'HE150123', NULL, N'Nguyễn ', N'Hồng Minh', 21, N'0141487644', N'K15', N'minhtam@gmail.com', 1, 21, NULL, NULL, 1, N'https://www.facebook.com/profile.php?id=100008325763883')
INSERT [dbo].[Students] ([StudentNo], [StudentID], [Avatar], [FirstName], [LastName], [Age], [Phone], [Unit], [Email], [CountryID], [ProvinceID], [AddressDetail], [DistrictID], [Gender], [LinkFacebook]) VALUES (3, N'HE152673', NULL, N'Nguyễn', N'Hồng Việt', 19, N'0634626793', N'K17', N'vietnguyen@gmail.com', 1, 21, NULL, NULL, 1, N'https://www.facebook.com/profile.php?id=100052442886152')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfClub] ON 

INSERT [dbo].[TypeOfClub] ([TypeID], [TypeName]) VALUES (1, N'Học Thuật')
INSERT [dbo].[TypeOfClub] ([TypeID], [TypeName]) VALUES (2, N'Kỹ Năng Sống')
INSERT [dbo].[TypeOfClub] ([TypeID], [TypeName]) VALUES (3, N'Thể Thao')
SET IDENTITY_INSERT [dbo].[TypeOfClub] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniemail]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Admins] ADD  CONSTRAINT [uniemail] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_email]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Clubs] ADD  CONSTRAINT [unique_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__A9D105349DB1B447]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Department] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__A9D10534C0D5FDB8]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Department] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hostels__652F8571627E6A00]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Hostels] ADD UNIQUE NONCLUSTERED 
(
	[HostelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Hostels__652F8571BD88BA5B]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Hostels] ADD UNIQUE NONCLUSTERED 
(
	[HostelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Restaura__D80B7F402FAD46A2]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Restaurants] ADD UNIQUE NONCLUSTERED 
(
	[RestaurantName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Restaura__D80B7F40CB89B957]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Restaurants] ADD UNIQUE NONCLUSTERED 
(
	[RestaurantName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uniqueEmail]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Sellers] ADD  CONSTRAINT [uniqueEmail] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StarVoti__A4B32E97283856B1]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[StarVotingHostel] ADD UNIQUE NONCLUSTERED 
(
	[StudentNo] ASC,
	[HostelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StarVoti__7AB094E00DFB8371]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[StarVotingRestaurant] ADD UNIQUE NONCLUSTERED 
(
	[StudentNo] ASC,
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique__email]    Script Date: 8/22/2022 3:47:44 PM ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [unique__email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF,   IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD FOREIGN KEY([Type])
REFERENCES [dbo].[TypeOfClub] ([TypeID])
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[EventOfClub]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[EventOfClub]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[FoodImage]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Foods] ([FoodID])
GO
ALTER TABLE [dbo].[FoodImage]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Foods] ([FoodID])
GO
ALTER TABLE [dbo].[Foods]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Foods]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[HostelImage]  WITH CHECK ADD FOREIGN KEY([HostelID])
REFERENCES [dbo].[Hostels] ([HostelID])
GO
ALTER TABLE [dbo].[HostelImage]  WITH CHECK ADD FOREIGN KEY([HostelID])
REFERENCES [dbo].[Hostels] ([HostelID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[Hostels]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[ReportHostel]  WITH CHECK ADD FOREIGN KEY([HostelID])
REFERENCES [dbo].[Hostels] ([HostelID])
GO
ALTER TABLE [dbo].[ReportHostel]  WITH CHECK ADD FOREIGN KEY([HostelID])
REFERENCES [dbo].[Hostels] ([HostelID])
GO
ALTER TABLE [dbo].[ReportRestaurant]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[ReportRestaurant]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Sellers] ([SellerID])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[StarVotingHostel]  WITH CHECK ADD FOREIGN KEY([HostelID])
REFERENCES [dbo].[Hostels] ([HostelID])
GO
ALTER TABLE [dbo].[StarVotingHostel]  WITH CHECK ADD FOREIGN KEY([StudentNo])
REFERENCES [dbo].[Students] ([StudentNo])
GO
ALTER TABLE [dbo].[StarVotingRestaurant]  WITH CHECK ADD FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurants] ([RestaurantID])
GO
ALTER TABLE [dbo].[StarVotingRestaurant]  WITH CHECK ADD FOREIGN KEY([StudentNo])
REFERENCES [dbo].[Students] ([StudentNo])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO

